--- --- @import "just-the-docs";

/* kill sidebar */
.side-bar {
  display: none !important;
}

/* expand content to full width */
.main {
  margin-left: 0 !important;
  max-width: none !important;
}

.main-content {
  max-width: none !important;
}
